
#foreach ( $entry in $entries )
    $entry.make : $entry.model : $entry.colour : $entry.imei
    <a href="/edit/$entry.id">Edit</a>
    <form method="POST" action="/delete/$entry.id">
        <input type="submit" value="Delete" />
    </form>

#end

<form method="POST" command="form">

    <p>

        #springBind("form.make")#springShowErrors("<br/>", "text-danger")
        Make: #springFormInput("form.make")

        </br>

        #springBind("form.model")#springShowErrors("<br/>", "text-danger")
        Model: #springFormInput("form.model")

        </br>

                #springBind("form.colour")#springShowErrors("<br/>", "text-danger")
                Colour: #springFormInput("form.colour")

        </br>

                        #springBind("form.imei")#springShowErrors("<br/>", "text-danger")
                        IMEI: #springFormInput("form.imei")




        <input type="submit"/>

    </p>


</form>
